.App {
  /* background-color: cyan; */
}

.app-header {
  background-color: #282c34;
  min-height: 6vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  color: white;
  /* opacity: .1; */
}

.app-menu {
  display: flex;
  align-items: center;
  margin: 5px auto;
  width: 70%;
}

.app-menu-item {
  color: white;
  text-decoration: none;
  padding: .9em;
  font-size: larger;
}

.app-menu-item-active {
  color: chocolate;
}

.main-container {
  width: 70%;
  height: 100vh;
  margin: 6vh auto 0;
  background-color: white;
}

.page {
  padding-top: .5em;
  padding-left: .5em;
}

.loader {
  position: fixed;
  top: 40%;
  left: 40%;
}

.grid-table {
   padding-top: 15px;
}

.grid-table-row {
  cursor: pointer;
}

.item-card {
  padding: 10%;
}

.value-truncate {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite {

}

.favorite img {
  cursor: pointer;
}